.dashboard-container{
    background: var(--body_background);
    color: var(--body_text);
}
.dashboard-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dashboard-component{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
}
@media screen and (max-width: 960px) {
    .dashboard-wrapper{
        display: block;
        
    }
}